@import '../../global/variables';
@import '../../global/mixins';

.paginator {
    .flex-wrapper(column, space-between, nowrap);
    position: absolute;
    bottom: 18%;
    right: 3%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    z-index: 300;
    height: 115px;
    width: auto;

    &__item {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        background-color: fade(@white, 50%);
        border-radius: 10px;
        cursor: pointer;

        &_active, &:active {
            background-color: @white;
        }

        &:hover {
            background-color: fade(@white, 70%); 
        }
    }
}

@media (max-width: @screen_laptop) {

    .paginator {
        right: 9%;
        height: 102px;
        

        &__item {
            width: 9px;
            height: 9px;
        }
    }
}

@media (max-width: @screen_tablet) {
    
    .paginator {
        right: 8%;
        height: 90px;

        &__item {
            width: 8px;
            height: 8px;
        }
    } 
}

@media (max-width: @screen_small_tablet) {
    .paginator {
        display: none;
    }
}