@import '../global/variables';
@import '../global/mixins';

.card {
    .flex-wrapper(row, center, nowrap); 
    align-items: center;
    padding: 20px;
    border: 2px solid @beige-light;
    width: 100px;
    height: 53px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 45px;
    transition: 0.2s linear;

    &__icon {
        margin-right: 5px;
    }

    &:hover, &:active, &_active {
        border-color: @card-border-color;
    }
}

@media (max-width: @screen_laptop) {
    .card {
        width: 80px;
        height: 43px;
        font-size: 18px;
        line-height: 18px;
        border: 1px solid @beige-light;

        &__icon {
            width: 17px;
            height: 18px;
        }
    }
}

@media (max-width: @screen_tablet) {
    .card {
        width: 68px;
        height: 36px;
        border-radius: 25px;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 16px;

        &__icon {
            width: 13px;
            height: 15px;
        }
    }
}