@import '../global/variables';
@import '../global/mixins';

.catalog {
    .flex-wrapper(row, space-between, wrap);
    z-index: 500;
    background-color: @white;
    padding-bottom: 45px;
    animation: fade-in 0.4s linear;
    
    &__items {
        .flex-wrapper(row, space-between, nowrap);
        flex-basis: 66%;

        & .catalog-item:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: @screen_laptop) {
    .catalog {

        &__items {

            & .catalog-item:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: @screen_small_tablet) {
    #catalog  {
        display: none !important; 
    }
}