@import '../global/variables';
@import '../global/mixins';

.catalog-item {
    overflow: hidden;
    position: relative;
    max-width: 220px;
    max-height: 400px;
    z-index: 600;
    background-color: @white;
    margin-right: 15px;

    &_popular {
        width: auto;
        max-width: 338px;
        max-height: 573px;
        background-color: @main-background-color;
    }

    &__photo {
        z-index: 100;
        transition: opacity 0.3s linear;
        width: inherit;
        height: auto;
        border: 1px solid @grey-line-color;
        position: relative;
        width: 100%;

        &_popular {
            max-width: 338px;
            max-height: 573px;
            border: none;
        }
        
        &_hover {
            z-index: 200;
            display: block;
            position: absolute;
            top: 0;
            opacity: 0;
        }
    }

    &:hover &__photo_hover {
       opacity: 1;
    }

    &__material {
        margin: 0;
        font-size: 14px;
        line-height: 22px;

        &_popular {
            font-size: 18px;
        }
    }

    &__price {
        font-size: 21px;
        line-height: 40px;
        color: @baige;

        &_currency {
            font-size: 18px;
        }

        &_popular {
            font-size: 30px;
        }
    }
    &__description {
        z-index: 300;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;

        &_popular {
            font-size: 24px;
            margin: 15px auto 10px;
        }
    }
}

@media (max-width: @screen_laptop) {
    .catalog-item {
        max-width: 263px;
        max-height: 480px;

        &__title {
            font-size: 21px;
            margin-top: 20px;

            &_popular {
                font-size: 18px;
                line-height: 30px;
                margin: 0;
            }
        }

        &__material {
            font-size: 16px;

            &_popular {
                font-size: 14px;
                line-height: 24px;
                margin: 0;
            }
        }
        &__price {
            font-size: 24px;
            line-height: 34px;
        }
    }

    .catalog {
        &__items .catalog-item:last-child {
           display: none;
        }

        &__items {
            flex-basis: 75%;
        }
    }
}

@media (max-width: @screen_tablet) {
    .catalog-item {
        max-width: 225px;

        &_popular {
            max-width: 300px;
            max-height: 525px;
        }

        &__title {
            font-size: 18px;
            margin-top: 10px;

            &_popular {
                font-size: 21px;
                margin-top: 5px;
            }
        }

        &__material {
            font-size: 14px;

            &_popular {
                font-size: 16px;
            }
        }

        &__price {
            font-size: 21px;

            &_currency {
                font-size: 18px;
            }

            &_popular {
                font-size: 27px;
            }
        }
    }
}

@media (max-width: @screen_small_tablet) {
    .catalog-item {
        &_popular {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
}