@import '../global/variables';

.footer {
    background-color: @brown;
    padding-top: 70px;
    padding-bottom: 65px;
    line-height: 48px;

    &__btn {
        background-color: @btn-color-hover;
        color: @font-base-color;
        border: none;

        &:hover {
            background-color: @btn-color;
            color: @white;
            border: none;
        }
    }
}

@media (max-width: @screen_laptop) {
    .footer {
        line-height: 36px;
        padding-top: 40px;
        padding-bottom: 45px;

        &__btn {
            font-size: 16px;
            width: 263px;
        }
    }
}

@media (max-width: @screen_tablet) {
    .footer {
        padding-bottom: 20px;

        &__btn {
            width: 240px;
            padding: 17px 25px;
        }
    }
}


@media (max-width: @screen_mobile) {
    .footer {

        &__btn {
            width: 100%;
        }
    }
}