@import '../global/variables';
@import '../global/mixins';

.footer-nav {
    .container();
    .flex-wrapper(row, space-between, wrap);

    &__link {
        color: @white;
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            left: -75px;
            top: 48%;
            background: @btn-color;
            z-index: 500;
            transition: 0.4s linear;
        }

        &:hover {
            font-weight: bold;
        }

        &:hover::before {
            width: 65px;
        }
    }
    &__catalog {
        flex-basis: 12%;
    }

    &__menu-item {
        flex-basis: 25%;
    }

    &__menu {
        flex-basis: 13%;
    }
}

@media (max-width: @screen_laptop) {
    .footer-nav {
        &__menu, &__catalog {
            flex-basis: 17%;
        }
    }
}

@media (max-width: @screen_tablet) {
    .footer-nav {
        padding: 0 10px;

        &__link {

            &::before {
                display: none;
            }

            &::after {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                right: -23px;
                top: 48%;
                background: @btn-color;
                z-index: 500;
                transition: 0.4s linear;
            }

            &:hover::after {
                width: 15px;
            }
        }
    }
}

@media (max-width: 547px) {
    .footer-nav {
        & .contacts {
            order: 2;
            margin: auto;
            margin-top: 30px;
            width: 100%;
        }
    }
}

@media (max-width: @screen_mobile) {
    .footer-nav {
        padding: 0 10px;
        
        &__catalog {
            flex-basis: 48%;
        }

        &__menu {
            flex-basis: 43%;
        }

        &__catalog:nth-child(2){
            order: 1;
        }      
    }
}
