@import '../global/variables';

.language-nav {
    border-bottom: 1px solid @grey-line-color;  
    flex-basis: 28%;  

    &_mobile {
        display: none;
    }

    &__item {
        position: relative;
        
        &::after {
            content: '';
            width: 2px;
            height: 8px;
            background-color: @grey;
            position: absolute;
            top: 16%;
            left: 44%;
            transform: rotate(-44deg);
        }

        &::before {
            content: '';
            width: 2px;
            height: 8px;
            background-color: @grey;
            position: absolute;
            top: 16%;
            left: 45.2%;
            transform: rotate(44deg);
        }
    }

    &__link {
        display: inline-block;
        padding-right: 70px;
        padding-bottom: 27px;
    }

    &__icon { 
        display: inline-block;
        width: 29px;
        height: 20px;
        margin-right: 18px;
        margin-bottom: -4px;
        background-size: contain;

        &_rus {
            background: url('../../img/rus.png') no-repeat;
        }

        &_en {
            background: url('../../img/english.jpg') no-repeat;
        }
    }
}

@media (max-width: @screen_laptop) {
    .language-nav {
    
        &__item {
           
            &::after {
                height: 6px;
                left: 44.5%;
                transform: rotate(-44deg);
            }
    
            &::before {
                height: 6px;
                left: 45.7%;
                transform: rotate(39deg);
            }
        }
    
        &__link {
            display: inline-block;
            padding-right: 70px;
            padding-bottom: 27px;
        }
    
        &__icon { 
            margin-right: 10px;
        }
    }
}

@media (max-width: @screen_tablet) {
    .language-nav {
        &__link {
            padding-bottom: 20px;
        }

        &__icon { 
            width: 20px;
            height: 15px;
            background-size: contain;
        }

        &__item::after {
            top: 22%;
        }

        &__item::before {
            top: 22%;
        }
    }
}


@media (max-width: @screen_small_tablet) {
    .language-nav {
        flex-basis: 32%;
        border: none;
    }
}

@media (max-width: @screen_mobile) {
    .language-nav {
        display: none;
        
        &_mobile {
            display: block;
            border: none;
            padding-right: 0;
        }
        
        &__link {
            padding: 0;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            line-height: 12px;
        }

        &__icon {
            width: 15px;
            height: 11px;
            margin-bottom: -1px;
        }

        &__item::before {
            left: 69.7%;
            top: 5px;
            width: 1px;
        }

        &__item::after {
            left: 64.7%;
            top: 5px;
            width: 1px;
        }
    }
}