@import '../global/variables';
@import '../global/mixins';

.lookbook {
    .container();
    padding-top: 50px;

    @media (max-width: @screen_laptop) {
       padding-top: 50px;    
    }

    @media (max-width: @screen_mobile) {
        padding-top: 0;    
     }

    &__items {
        .flex-wrapper(row, space-between, wrap);

        & .lookbook-item:last-child {
            margin-left: auto;
            margin-right: 238px;
            margin-top: -178px;

            @media (max-width: @screen_laptop) {
                margin-right: 182px;
                margin-top: -140px;             
            }

            @media (max-width: @screen_tablet) {
                margin-right: 135px;
                margin-top: -127px;             
            }

            @media (max-width: @screen_small_tablet) {
                margin: 0;            
            }
        }

        & .lookbook-item:first-child,
        & .lookbook-item:last-child {
            max-width: 456px;
            
            @media (max-width: @screen_laptop) {
                max-width: 355px;    
            }

            @media (max-width: @screen_tablet) {
                max-width: 288px;    
            }

            @media (max-width: @screen_mobile) {
                max-width: 304px;
            }
        }

        & .lookbook-item:nth-child(3) {
            max-width: 338px;

            @media (max-width: @screen_laptop) {
                max-width: 265px;    
            }

            @media (max-width: @screen_tablet) {
                max-width: 213px;    
            }

            @media (max-width: @screen_mobile) {
                max-width: 304px;
            }
        }

        @media (max-width: @screen_tablet) {
            width: 96%;
            margin: auto;            
        }

        @media (max-width: @screen_small_tablet) {
            justify-content: space-around;          
        }

        @media (max-width: @screen_mobile) {
            justify-content:  center;
        }
    }

    &__article {
        max-width: 280px;
        flex-basis: 20%;
        align-self: center;
        margin-bottom: 208px;

        @media (max-width: @screen_laptop) {
            line-height: 24px;
            flex-basis: 21.5%;    
        }

        @media (max-width: @screen_tablet) {
            flex-basis: 22.5%;    
            margin-bottom: 162px;
        }

        @media (max-width: @screen_small_tablet) {
            flex-basis: 40.5%;
            flex-grow: 1;
            margin-left: 20px;
        }

        @media (max-width: @screen_mobile) {
            margin: 50px 0; 
            flex-basis: 84.5%;
            order: -1;
        }

        &_text {
            @media (max-width: @screen_tablet) {
                font-size: 12px;
                line-height: 18px;
                max-width: 182px;
            }

            @media (max-width: @screen_mobile) {
                max-width: 282px;
            }
        }
    }
}