@import '../global/variables';
@import '../global/mixins';

.modal-window {
    .alignment(fixed, @modal-window-width);
    overflow: hidden;
    z-index: 2000;
    background-color: @white;

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        text-align: left;
    }
}
