@import '../global/variables';
@import '../global/mixins';

.promo {
    background: url('../../img/slide-1.jpg') no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-width: 320px;
    margin: auto;
    z-index: 100;
    height: 813px;
    
    &__btn {
        background-color: @btn-color-hover;
        color: @font-heading-color;
        font-size: 72px;
        line-height: 72px;
        padding: 32px 106px;
        padding-left: 240px;
        transform: translateX(-22%);
        position: relative;
        transition: color 0.2s linear;

        &::after {
            content: '';
            display: inline-block;
            .triangle(right; 10px; @grey);
            position: absolute;
            top: 45%;
            right: 5%;
            transition: 0.2s linear;
        }

        &:hover {
            color: @orange;
        }

        &:hover::after {
            border-color: @orange;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }

    &__info {
        .flex-wrapper(column, flex-start, nowrap);
        z-index: 300;
    }

    &__text {
        max-width: 207px;
        line-height: 36px;
        margin-top: 150px;
        margin-bottom: 140px;
    }
}

@media (max-width: @screen_laptop) {
    .promo {
        background: url('../../img/slide1-laptop.jpg') no-repeat center;
        height: 605px;

        &__text {
            line-height: 30px;
            max-width: 184px;
            margin-top: 105px;
            margin-bottom: 74px;
        }

        &__btn {
            font-size: 53px;
            line-height: 53px;
            padding: 30px 77px;
            padding-left: 90px;
            transform: translateX(-13%);            
        }
    }
}

@media (max-width: @screen_tablet) {
    .promo {
        background: url('../../img/slide1-tablet.jpg') no-repeat center;
        height: 530px;

        &__text {
            line-height: 24px;
        }

        &__btn {
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 48px;
            line-height: 48px;
        }
    }
}

@media (max-width: @screen_mobile) {
    .promo {
        background: url('../../img/slide1-mobile.jpg') no-repeat center;
        height: 405px;

        &__text {
            display: none;
        }

        &__btn {
            font-size: 40px;
            line-height: 40px;
            transform: none;
            padding: 20px 10px;
        }
    }
}
