@import '../global/variables';
@import '../global/mixins';

.social-items {
    .flex-wrapper(row, space-around, nowrap);  
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
}

.social-item {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    transition: opacity 0.2s linear;

    &:hover {
        opacity: 0.7;
    }
    
    &__link {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: url('../../img/social-items.svg') no-repeat center;
        background-size: cover;

        &_vk {
            background-position: -3px;
        }

        &_instagram {
            background-position: -97px;
        }
    }
}

@media (max-width: @screen_laptop) {
    .social-item {
        width: 30px;
        height: 30px;

        &__link {
            width: 30px;
            height: 30px;

            &_vk {
                background-position: 0;
            }

            &_instagram {
                background-position: -81px;
            }
        }
    }
}

@media (max-width: @screen_tablet) {
    .social-item {
        width: 25px;
        height: 25px;

        &__link {
            width: 25px;
            height: 25px;

            &_vk {
                background-position: 1px;
            }

            &_instagram {
                background-position: -64px;
            }
        }
    }

    .social-items {
        max-width: 41%;
        margin-top: 38px;
    }
}