@import '../global/variables';
@import '../global/mixins';

.user-block {
    .flex-wrapper(column, flex-start, wrap);
    border-bottom: 1px solid @grey-line-color;
    flex-basis: 28%;  
    position: relative;

    &__wrapper {
        .flex-wrapper(row, flex-end, nowrap);
        margin: 22px 0;
    }

    &__icon {
        transform: translateY(7px);
        margin-left: 5px;

        &_color-focus {
            fill: @card-border-color;
        }
    }
}

.user-operations {
    .flex-wrapper(row, flex-end, nowrap);
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;

    &__btn {
        margin-left: 10px;
        color: @font-main-nav-color;
        transition: color 0.1s linear;

        &:hover, &:active, &-active {
            color: @font-base-color;
        }

        &:hover .user-block__icon_color {
            fill: @card-border-color;
        }

    } 
}

@media (max-width: @screen_laptop) {
    .user-block {
        &__icon {
            width: 16px;
            height: 19px;
            transform: translateY(4px);
        }
    }

    .user-operations {
        font-size: 14px;
    }
}

@media (max-width: @screen_mobile) {
    .user-block {
        .flex-wrapper(row, space-between, nowrap);
        background-color: #f4f4f4;
        border: none;

        &__wrapper {
            margin: 0;
            align-items: center;
        }
    }

    .user-operations {
        font-size: 14px;

        &__btn {
            display: none;
        }
    }
}